[core]
  editor = vim
  pager = lv -c
  excludesfile = ~/.gitignore
[color]
  ui = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  br = branch
  mg = merge
  st = status
  cm = commit
  chk = checkout
  co = checkout
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
