[core]
  editor = vim
  excludesfile = ~/.gitignore
[merge]
  tool = vimdiff
  ff = false
[pull]
  # mergeをno-ffにするとpullでもマージコミットが作られてしまうのを回避する
  rebase = true
[color]
  ui = auto
[alias]
  br = branch
  st = status
  co = checkout
  graph = log --graph --decorate --all
[credential]
  # パスワードを15分間キャッシュする
  # http://qiita.com/usamik26/items/c655abcaeee02ea59695
  helper = cache
[url "git@github.com:"]
  # GitHubにはhttpsではなくssh (gitプロトコル) で接続して公開鍵認証を行う
  # http://qiita.com/nysalor/items/f779898eb88c1ce7be12
  pushinsteadof = https://github.com/
[http "https://gopkg.in"]
  # https://github.com/niemeyer/gopkg/issues/50#issuecomment-273299592
  followRedirects = true
[diff]
  # http://qiita.com/takyam/items/d6afacc7934de9b0e85e
  compactionHeuristic = true
[pager]
  # http://qiita.com/takyam/items/d6afacc7934de9b0e85e
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[fetch]
  # リモートで消されたブランチはローカルからも消す
  prune = true
[include]
  path = ~/.gitconfig.local
[status]
  showUntrackedFiles = all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
