[core]
  editor = vim
  pager = lv -c
  excludesfile = /Users/arosh/.gitignore
  autocrlf = false
[merge]
  tool = vimdiff
  ff = false
[pull]
  rebase = true # mergeをno-ffにするとpullでもマージコミットが作られてしまうので、それは阻止する
[color]
  ui = auto
[alias]
  br = branch
  st = status
  co = checkout
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[user]
  name = Sho Iizuka
  email = sho.i518@gmail.com
[credential]
  helper = cache
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
  default = simple
